*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    min-width: 360px;
    color: #37474F;
    font-family: 'Montserrat', sans-serif;
}
h1{
    line-height: 72px;
    font-size: 48px;
    font-weight: 800;
}
h2{
    line-height: 48px;
    font-size: 32px;
}
h3{
    line-height: 36px;
    font-size: 24px;
}
h4{
    line-height: 30px;
    font-size: 20px;
    font-weight: 800;
}
h5{
    line-height: 24px;
    padding: 0px 0px 12px 0px;
    font-size: 16px;
    font-weight: 600;
}
p{
    line-height: 24px;
    font-size: 16px;
    font-weight: 300;
}
a{
    text-decoration: none;
    color: #F50057;
}
button {
    display: inline-block;
    border: none;
    outline: none;
    border-radius: 4px;
    font-family : inherit;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: opacity 150ms ease-in-out;
}
button.fill {
    line-height: 48px;
    padding: 0px 30px 0px 30px;
    background-color: #F50057;
    color: white;
}
button.line {
    line-height: 46px;
    padding: 0px 29px 0px 29px;
    background-color :#ffffff;
    color: #F50057;
    border: 1px solid #F50057;
}
button:hover {
    opacity: 0.75;
}
button:disabled {
    background-color: #ECEFF1;
}
button:disabled:hover {
    opacity: 1;
}
fieldset{
    outline: none;
    border: none;
}
.wrapper{
    max-width: 1440px;
    margin: 0px auto 0px auto;
    padding: 0px 120px 0px 120px;
}
.underlay{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #37474F;
    opacity: 0.75;
    z-index: 1;
}
.modalWrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.modal{
    max-height: 100%;
    width: 720px;
    overflow-x: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    z-index: 2;
}
.modalTop{
    float: left;
    width: 100%;
    height: 90px;
    padding: 0px 40px 0px 40px;
}
.modalTitle{
    font-size: 20px;
    float: left;
    line-height: 90px;
    color: #78909D;
}
.modalClose{
    float: right;
    height: 18px;
    margin: 36px 0px 36px 0px;
    opacity: 0.25;
    transition: opacity 150ms ease-in-out;
}
.modalClose:hover{
    opacity: 1;
}
.modalContent{
    float: left;
    width: 100%;
    padding: 0px 40px 40px 40px;
}
.modalContent p{
    margin-top: 30px;
}
.modalContent ul{
    line-height: 30px;
    margin-top: 20px;
    list-style-position: inside;
    float: left;
    clear: both;
}
.modalContent button{
    float: left;
    margin-top: 30px;
    clear: both;
}
.radioButton {
    display:none;
}
.radioButton + label{
    background:url('../assets/radio_unchecked.svg') no-repeat;
    height: 24px;
    line-height: 24px;
    display:inline-block;
    padding: 0px 0px 0px 32px;
}
.radioButton:checked + label{
    background:url('../assets/radio_checked.svg') no-repeat;
}
.toggleButton{
    display:none;
}
.toggleButton + label{
    background:url('../assets/toggle_off.svg') no-repeat;
    height: 24px;
    line-height: 24px;
    display:inline-block;
    padding: 0px 0px 0px 50px;
}
.toggleButton:checked + label{
    background:url('../assets/toggle_on.svg') no-repeat;
}
.textBox{
    width: 100%;
    height: 48px;
    padding: 0px 13px 0px 13px;
    outline: none;
    border: 1px solid #78909D;
    border-radius: 4px;
    font-family: inherit;
    color: inherit;
    font-size: 20px;
}
.textBox:focus {
    border: 1px solid #F50057;
  }
.textBox::placeholder{
    font-weight: 300;
    color: #B1BEC5;
}
.textArea{
    height: 118px;
    padding: 10px 12px 10px 12px;
    resize: none;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    max-width: 240px;
    height: 8px;
    margin: 0px 0px 12px 0px;
    border-radius: 4px;
    background: #ECEFF1;
    outline: none;
    cursor: pointer;
    transition: opacity 150ms ease-in-out;
}
.slider:hover {
    opacity: 0.75;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #F50057;
}
.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #F50057;
    border: 0px;
}
.slider::-moz-focus-outer {
    border: 0;
}

.pageTitle{
    text-align: center;
    padding: 40px 0px 40px 0px;
}

/* -------------------- NAV BAR */

nav{
    width: 100%;
    height: 180px;
    padding: 60px 0px 60px 0px;
}
.navLogo{
    height: 60px;
    transition: opacity 150ms ease-in-out;
}
.navLogo:hover{
    opacity: 0.75;
}
.navMenuButton{
    display: none;
    float: right;
    height: 30px;
    padding: 7px 0px 7px 0px;
    opacity: 0.25;
}
#navUnderlay{
    visibility: hidden;
}
.navList{
    display: flex;
    float: right;
    list-style: none;
    text-align: right;
    background-color: #ffffff;
    z-index: 2;
}
.navCloseButton{
    display: none;
    float: right;
    height: 30px;
    padding: 6px 0px 6px 0px;
    opacity: 0.25;
}
.navList li a{
    margin: 0px 0px 0px 30px;
    line-height: 60px;
    color: #37474F;
    opacity: 0.25;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    transition: opacity 150ms ease-in-out;
}
.navList li a.active{
    color: #F50057;
    opacity: 1;
}
.navList li a:hover{
    opacity: 1;
}

/* -------------------- FOOTER */

footer{
    width: 100%;
    padding: 20px 0px 20px 0px;
    box-shadow: 0 -1px 0 #B1BEC5;
    text-align: center;
    clear: both;
}
footer p{
    line-height: 40px;
    color: #78909D;
    font-size: 16px;
    font-weight: 300;
}
footer span{
    font-weight: 700;
}
.socialIcon{
    height: 60px;
    padding: 10px;
}

/* -------------------- SECTIONS */

section{
    width: 100%;
}

/* -------------------- SCENES SPECIFIC */

#scenesList{
    padding: 40px 0px 80px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    list-style-type: none;
}
.sceneThumbnail{
    width: 100%;
    display: block;
    border-radius: 4px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

/* -------------------- ABOUT SPECIFIC */

.aboutGrid{
    padding: 40px 0px 80px 0px;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    list-style-type: none;
}
.aboutCard{
    width: 100%;
    padding: 40px;
    background-color: #ffffff;
    color: #37474F;
    border-radius: 4px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}
.aboutSubtitle{
    text-align: center;
    font-weight: 300;
    padding: 0px 0px 20px 0px;
}
.stepsSection{
    background-color: #F50057;
    color: #ffffff;
}
.stepsCard{
    text-align: center;
}
.stepsIcon{
    width: 80px;
    margin: 20px;
}
.licSection{
    color: #37474F;
}
.licCard{
    display: flex;
    column-gap: 20px;
    align-items: flex-start;
}
.licIcon{
    width: 40px;
    margin: 0px 0px 20px 0px;
}
.ackSection{
    background-color:#ECEFF1;
    color: #78909D;
}
.ackCard{
    text-align: center;
}
.ackLogo{
    max-height: 40px;
}

/* -------------------- CONTACT SPECIFIC */

.contactForm{
    max-width: 800px;
    padding: 40px 0px 120px 0px;
    margin: auto;
}
.nameInput, .emailInput{
    width: calc(50% - 20px);
    margin: 0px 0px 30px 0px;
}
.nameInput{
    float: left;
}
.emailInput{
    float: right;
}
.messageInput{
    margin: 0px 0px 30px 0px;
}
.consentToggle{
    margin: 0px 0px 40px 0px;
}
.sendButton{
    display: block;
    margin: auto;
}
.thankyou_message{
    text-align: center;
    color: #78909D;
}

/* -------------------- SCENE DETAIL SPECIFIC */

.containers{
    float: left;
    padding: 0px 0px 80px 0px;
}
.canvasContainer{
    float: left;
    max-width: 800px;
    max-height: 800px;
    width: calc(100% - 400px);
}
.canvasContainer.resize{
    max-width: 1082px;
    max-height: 1082px;
    width: 1082px;
    height: 1082px;
    position: absolute;
}
#renderCanvas{
    display: block;
    border-radius: 4px;
    border: 1px dashed #78909D;
    width: 100%;
    outline: none;
}
.controlsContainer{
    float: left;
    width: 320px;
    margin: 0px 0px 0px 80px;
}
.controls{
    border-radius: 4px;
    border: 1px solid #78909D;
}
.controlsHeader{
    padding: 39px 0px 19px 39px;
}
.controlsPanel{
    padding: 20px 39px 19px 39px;
}
.sceneButtons button{
    width: 100%;
    margin: 20px 0px 0px 0px;
}
.control{
    margin: 0px 0px 20px 0px;
}
.controlToggle{
    float: right;
    margin-top: -2px;
    margin-right: -10px;
}
.shadowPlaneRadio{
    float: left;
    margin: 10px 10px 20px 0px;
}
.collapsible {
    background-color: #ffffff;
    color: #F50057;
    text-align: left;
    margin: 0px 0px 20px 0px;
    text-transform: none;
    width: 100%;
}
.collapsible:after {
    content: '\002B';
    color: #F50057;
    font-weight: bold;
    float: right;
}
.collapse:after {
    content: "\2212";
}
.transparentBgToggle{
    margin: 0px 0px 40px 0px;
}
.imageSizeRadio{
    margin: 0px 0px 16px 0px;
}
#exportModal{
    visibility: hidden;
}
#exportUnderlay{
    visibility: hidden;
}

/* -------------------- RESPONSIVE 960 */

@media only screen and (max-width: 960px) {
    h1{
        line-height: 48px;
        font-size: 32px;
    }
    h4{
        line-height: 30px;
        font-size: 20px;
    }
    button:hover {
        opacity: 1;
    }
    .wrapper{
        padding: 0px 80px 0px 80px;
    }
    nav{
        height: 120px;
        padding: 40px 0px 40px 0px;
    }
    .navLogo{
        height: 40px;
    }
    .navList li a{
        line-height: 40px;
        font-size: 16px;
    }
    .canvasContainer{
        width: 100%;
        float: none;
    }
    .controlsContainer{
        float: none;
        padding: 20px 0px 0px 0px;
        margin: auto;
        border: none;
    }
    .slider:hover {
        opacity: 1;
    }
    input[type="color"]:hover {
        opacity: 1;
    }
    .modal{
        width: calc(100% - 160px);
        position: fixed;
        top: 50%;
        left: 80px;
        transform: translate(0, -50%);
    }
    .modalContent{
        max-height: calc(100% - 170px);
    }
  }

/* -------------------- RESPONSIVE 720 */

@media only screen and (max-width: 720px) {
    h1{
        line-height: 36px;
        font-size: 24px;
    }
    h4{
        line-height: 24px;
        font-size: 16px;
    }
    .wrapper{
        padding: 0px 40px 0px 40px;
    }
    nav{
        height: 90px;
        padding: 30px 0px 30px 0px;
    }
    .navLogo{
        height: 30px;
    }
    .navMenuButton{
        display: block;
    }
    .navList{
        display: block;
        position: fixed;
        width: 200px;
        top: 0px;
        right: -200px;
        height: 100vh;
        padding: 0px 40px 0px 0px;
        transition: right 250ms ease-in-out;
    }
    .navCloseButton{
        display: block;
        margin: 30px 0px 30px 0px;
    }
    .navList li a{
        float: right;
        clear: right;
        line-height: 60px;
        margin: 0px;
    }
    footer{
        padding: 20px 0px 20px 0px;
    }
    #scenesList{
        padding: 20px 0px 60px 0px;
        grid-template-columns: 1fr 1fr;
    }
    .aboutGrid{
        grid-template-columns: 1fr 1fr;
        padding: 20px 0px 60px 0px;
    }
    .contactForm{
        padding: 20px 0px 60px 0px;
    }
    .nameInput, .emailInput{
        width: 100%;
        float: left;
    }
    .modal{
        width: calc(100% - 80px);
        left: 40px;
    }
    .modalContent a{
        width: 100%;
    }
    .modalContent button{
        width: 100%;
    }
}

/* -------------------- RESPONSIVE 480 */

@media only screen and (max-width: 480px) {
    #scenesList{
        grid-template-columns: 1fr;
    }
    .aboutGrid{
        grid-template-columns: 1fr;
    }
    .sendButton{
        width: 100%;
    }
    .controlsContainer{
        width: 100%;
    }
    .modal{
        width: 100%;
        top: 0px;
        left: 0px;
        transform: none;
        border-radius: 0px;
    }
}